<ion-content [fullscreen]="true">
  <canvas #rendererCanvas></canvas>
  <section class="btns">
    <app-lever (rotateEvent)="rotHead = $event"></app-lever>
    <app-lever (rotateEvent)="rotEye = $event"></app-lever>
    <app-lever (rotateEvent)="rotJaw = $event"></app-lever>
    <app-lever (rotateEvent)="rotEyeBrow = $event"></app-lever>
  </section>
  <section class="btnHelper">
    <ion-button class="btnManual" (click)="openModal()"
      >Manual de usuario</ion-button
    >
  </section>
</ion-content>
