<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h1>Manual de usuario para animatronico</h1>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <section>
      <div>
        <div class="infoGeneral">
          <h2>Arrastra las palancas para rotar:</h2>
          <ul>
            <li>La cabeza</li>
            <li>Los ojos</li>
            <li>La mandíbula</li>
            <li>La cejas</li>
          </ul>
        </div>
        <p class="note">
          Nota: En este manual web las palancas cambiaran de dirección dándoles
          click, ya en el proyecto físico arrastra las palancas
        </p>
      </div>

      <h3>Integrantes</h3>
      <ul class="integrantes">
        <li>Heidy Maritza</li>
        <li>Daniel Lima</li>
        <li>Gabriel Valdez</li>
        <li>Jonatan</li>
        <li>Jose Avila</li>
        <li>Joel Equite</li>
      </ul>
    </section>
    <div class="btns">
      <ion-button class="button" (click)="closeModal()">Lets go</ion-button>
    </div>
  </ion-card-content>
</ion-card>
